div.transaction {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	color: #456;
	font-family: helvetica;
	font-weight: bold;
}

div.universe{
	/*border-style: solid;
	border-width: 1px;*/
	width: 1000px;
	/*overflow-x:hidden;*/
}

body{
	background-color: #CCCCCC;
}