#{extends 'main.html' /}
#{set title:'BTC Transaction Explorer' /}

#{if tx}
	<div class="transaction">
		<span id="txID" title="${tx.hash}">${tx.hash}</span>
	</div>
#{/if}
	
<div id="holder" class="universe"></div> 
	
#{if tx}	
	<script type="text/javascript">
		$(document).ready(function(){
			getObjectTransaction("${tx.hash}","${tx.credit}");
		});
	</script>
	
	#{list items:tx.inputs, as:'input'}
		<script type="text/javascript">
			$(document).ready(function(){
				getInputTx("${input.previousTransaction.hash}", "${input.scriptSig}");
			});
		</script>
	#{/list}
			
	#{list items:tx.outputs, as:'output'}
		<script type="text/javascript">
			getOutputTx("${output.scriptPublicKey}");
		</script>
	#{/list}
				
	
#{/if}
#{else}
    No transaction found.
#{/else}