#{extends 'main.html' /}
#{set title:'BTC Transaction Explorer' /}

#{if tx}
	<div class="transaction">
		<span id="txID" title="${tx.hash}">${tx.hash}</span>
		
		<sup>
			<a href="http://blockexplorer.com/tx/${tx.hash}" class="ref_link"
				title="Verify this transaction at blockexplorer.com">
				(Verify)
			</a>
		</sup>
	</div>
	
	<div class="browsing_history">
		<span id="browsingHistory"></span>
	</div>
#{/if}
	
<div id="holder" class="universe"></div> 
	
#{if tx}	
	<script type="text/javascript">
		$(document).ready(function(){
			getObjectTransaction("${tx.hash}","${tx.credit}", "${tx.inputs.size}");
		});
	</script>
	
	#{list items:tx.inputs, as:'input'}
		<script type="text/javascript">
			$(document).ready(function(){
				getInputTx("${input.previousTransaction.hash}", "${input.scriptSig}");
			});
		</script>
	#{/list}
			
	#{list items:tx.outputs, as:'output'}
		<script type="text/javascript">
			getOutputTx("${output.scriptPublicKey}", "${tx.hash}");
		</script>
	#{/list}
				
	<script type="text/javascript">
		$(document).ready(function(){
			$("#browsingHistory").text(truncateTransactionId("${tx.hash}"));
		});
	</script>
#{/if}
#{else}
    No transaction found.
#{/else}